/*-------------
 Main css 
 -------------*/
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:wght@400;500&display=swap');
body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 75%;
    background-color: white;
    border-radius: 10px;
    margin-top: 2em ;
    padding: 3em 3em;
    
}
.container-title {
    font-size: 1.5em;
    margin-top: 3px;
    color: #562EFF;
}
hr{
    margin: 2em 0px;
    width: 100%;
}


/*---------
 css for menu bar
 ------- */

.menu-header{
    height: auto;
    background-color: #562EFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 80%;
 
}
.menu-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 1em;
    width: 100%;
    
}
.logo img{
   width: 42px;
   height: 56px;
}
.logo h4{
  font-size: 24px;
  color: white;
}

.menu-list{
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-evenly
}
.fa-bars {
    color: white;
    font-size: 1.8em;
    display: none;
}
.menu-list li{
    list-style: none;
    margin-left: 15px;
}
.menu-list a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

/*-----------
 Player secton
 ----------  */
 .player{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     row-gap: 1.5em;
 }
 .player-item{
     display: flex;
     column-gap: 1em;
 }
 
 .blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1.5em;
 }
 .blog-item{
    display: flex;
    column-gap: 1em;
    padding-right: 2em;

 }
 .blog-info a{
     text-decoration: none;
 }

 /* ---------
 Course css
 ----------- */
 .course{
     display: grid;
     grid-template-columns: repeat(3,1fr);
 }
 .course-item{
     margin: 0 1em 0 0;
     padding: 1em 1em;
     box-shadow: 1px 1px 10px lightgrey;
     border-radius: 10px;
 }
 .course-item img{
     width: 100%;
 }
 .course-item .fa-star{
   color: #FFC014;
 }
 .course-item p{
     color: #ED6B4F;
 }
 .course-item .defult{
     color: #A2A2A2;
 }
 .course-info{
     display: flex;
     justify-content: space-between;
     align-items: center
 }
 .time{
     background-color: #FFE4E8;
     padding: 0.2em 1em;
     color: #ED6B4F;
     border-radius: 5px;
 }